@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide__bar {
  width: 0 !important;
}

.primary__color {
  color: rgb(108, 136, 208);
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.btn {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgb(108, 136, 208);
  text-decoration: none;
  display: inline-block;
  color: #191919;
  margin: 1rem 0;
  font-size: 0.85rem;
  box-shadow: 0.2px 0.2px 3px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  transform: scale(1.05);
}

.active {
  color: rgb(108, 136, 208) !important;
}

.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body.index {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  background-color: #252525;
  color: #cacaca;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  line-height: 2;
  background-color: #252525;
  color: #cacaca;
  width: 100vw;
  overflow-x: hidden;
}
body.index .header {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
}
body.index .header .logo_container .logo {
  width: 80px;
}
body.index .header .right .menu {
  display: none;
}
body.index .header .right .menu .btn {
  margin-left: 2rem;
}
body.index .header .right .hamburger__container .hamburger {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
body.index .header .right .hamburger__container .hamburger:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
@media (min-width: 768px) {
  body.index .header {
    padding: 1rem 4rem !important;
  }
  body.index .header .right .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  body.index .header .right .menu li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  body.index .header .right .hamburger {
    display: none;
  }
}
body.index .sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  background-color: #252525;
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
body.index .sidebar .top {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body.index .sidebar .top .bi {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  padding-right: 1rem;
}
body.index .sidebar .top .bi:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
body.index .sidebar .bottom {
  justify-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index .sidebar .bottom .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}
body.index .sidebar .bottom .menu li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
body.index .sidebar .bottom .menu li a:hover {
  padding-left: 0.3rem;
}
body.index .footer {
  text-align: center;
  font-size: 1.2rem;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index .main .section {
  min-height: 200px;
  padding: 3rem 0;
}
body.index .main .section1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 0;
}
body.index .main .section1 > * {
  flex: 1;
}
body.index .main .section1 .left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body.index .main .section1 .left img {
  width: 400px;
  transform: rotateY(180deg);
}
body.index .main .section1 .right h3 {
  font-size: 3rem;
  padding: 0.5rem;
}
body.index .main .section1 .right .desc {
  max-width: 700px;
  padding: 1rem 0.5rem;
}
body.index .main .section1 .right .desc p.typewriter_container {
  font-size: 1.5rem;
}
body.index .main .section1 .right .desc p {
  max-width: 700px;
}
body.index .main .section1 .right .desc p .typewriter {
  animation: typing 2s steps(20, end);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  color: rgb(108, 136, 208);
}
body.index .main .section1 .right .desc p.content {
  max-width: 600px;
}
@media (min-width: 768px) {
  body.index .main .section1 {
    flex-direction: row;
  }
}
body.index .main .section2 {
  display: flex;
  flex-direction: column-reverse;
  background-color: #191919;
  justify-content: center;
}
body.index .main .section2 > * {
  flex: 1;
}
body.index .main .section2 .title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}
body.index .main .section2 .left .skill_list ul {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
}
body.index .main .section2 .left .skill_list ul li {
  background-color: #cacaca;
  padding: 0.5rem;
  border-radius: 10px;
  color: #191919;
  min-width: 300px;
  text-align: center;
}
body.index .main .section2 .left .skill_list .btn_container {
  text-align: center;
}
body.index .main .section2 .right .title {
  max-width: 600px;
  margin: 0 auto;
}
body.index .main .section2 .right .desc {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
body.index .main .section2 .right .desc .desc-item {
  padding: 1rem 0;
}
@media (min-width: 768px) {
  body.index .main .section2 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
body.index .main .section3 .title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
body.index .main .section3 .items {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 1rem;
}
body.index .main .section3 .items .item {
  flex: 1;
  max-width: 350px;
  background-color: #191919;
  padding: 1rem;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(116, 113, 113, 0.2);
  transition: all 0.5s ease-in-out;
}
body.index .main .section3 .items .item:hover {
  transform: perspective(1000px) rotateY(30deg);
  filter: drop-shadow(16px 16px 20px rgb(108, 136, 208)) invert(10%);
}
body.index .main .section3 .items .item i {
  font-size: 2rem;
}
body.index .main .section3 .items .item h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: rgb(108, 136, 208);
}
body.index .main .section3 .btn_container {
  text-align: center;
}
@media (min-width: 768px) {
  body.index .main .section3 .items {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
body.index .main .section4 {
  background-color: #191919;
}
body.index .main .section4 .title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
body.index .main .section4 .marquee-container {
  min-height: 200px;
  overflow: hidden;
  line-height: 30px;
  position: relative;
}
body.index .main .section4 .marquee-container .marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  display: flex;
  gap: 3rem;
}
body.index .main .section4 .marquee-container .marquee span img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
body.index .main .section4 .marquee-container .marquee2 {
  animation-delay: 15s;
}
body.index .main .section4 .marquee-container b {
  padding-left: 10px;
}
body.index .main .section5 .title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
body.index .main .section5 .images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
}
body.index .main .section5 .images_container .image_container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 3s ease-in-out;
}
body.index .main .section5 .images_container .image_container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  body.index .main .section5 .image_container:hover {
    transform: scale(3);
    filter: drop-shadow(16px 16px 20px rgb(108, 136, 208)) invert(10%);
  }
}
body.index .main .section6 {
  padding: 3rem;
}
body.index .main .section6 hr {
  border: none;
  border-top: 3px solid rgb(108, 136, 208);
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 100px;
  margin: auto;
}
body.index .main .section6 .social {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
body.index .main .section6 .social a {
  font-size: 2.5rem;
  color: #cacaca;
  transition: all 0.3s ease-in-out;
}
body.index .main .section6 .social a:hover {
  transform: scale(1.2);
  filter: drop-shadow(1px 1px 2px rgb(108, 136, 208)) invert(10%);
}

body.contact {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  background-color: #252525;
  color: #cacaca;
  width: 100vw;
  overflow-x: hidden;
}
body.contact .header {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
}
body.contact .header .logo_container .logo {
  width: 80px;
}
body.contact .header .right .menu {
  display: none;
}
body.contact .header .right .menu .btn {
  margin-left: 2rem;
}
body.contact .header .right .hamburger__container .hamburger {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
body.contact .header .right .hamburger__container .hamburger:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
@media (min-width: 768px) {
  body.contact .header {
    padding: 1rem 4rem !important;
  }
  body.contact .header .right .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  body.contact .header .right .menu li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  body.contact .header .right .hamburger {
    display: none;
  }
}
body.contact .sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  background-color: #252525;
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
body.contact .sidebar .top {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body.contact .sidebar .top .bi {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  padding-right: 1rem;
}
body.contact .sidebar .top .bi:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
body.contact .sidebar .bottom {
  justify-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.contact .sidebar .bottom .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}
body.contact .sidebar .bottom .menu li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
body.contact .sidebar .bottom .menu li a:hover {
  padding-left: 0.3rem;
}
body.contact .footer {
  text-align: center;
  font-size: 1.2rem;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.about {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  background-color: #252525;
  color: #cacaca;
  width: 100vw;
  overflow-x: hidden;
}
body.about .header {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
}
body.about .header .logo_container .logo {
  width: 80px;
}
body.about .header .right .menu {
  display: none;
}
body.about .header .right .menu .btn {
  margin-left: 2rem;
}
body.about .header .right .hamburger__container .hamburger {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
body.about .header .right .hamburger__container .hamburger:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
@media (min-width: 768px) {
  body.about .header {
    padding: 1rem 4rem !important;
  }
  body.about .header .right .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  body.about .header .right .menu li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  body.about .header .right .hamburger {
    display: none;
  }
}
body.about .sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  background-color: #252525;
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
body.about .sidebar .top {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body.about .sidebar .top .bi {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  padding-right: 1rem;
}
body.about .sidebar .top .bi:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
body.about .sidebar .bottom {
  justify-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.about .sidebar .bottom .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}
body.about .sidebar .bottom .menu li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
body.about .sidebar .bottom .menu li a:hover {
  padding-left: 0.3rem;
}
body.about .footer {
  text-align: center;
  font-size: 1.2rem;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.about .movingObjectcontainer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
body.about .movingObjectcontainer .movingObject {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: rgb(108, 136, 208);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 0 5px 5px rgb(108, 136, 208);
}
body.about .movingObjectcontainer .movingObject img {
  width: 100%;
  height: 100%;
}
body.about .main .title {
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}
body.about .main .section1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
body.about .main .section1 .desc p {
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.1rem;
}
body.about .main .section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body.about .main .section2 .resume_container {
  z-index: 3;
}
body.about .main .section2 .resume_container a {
  font-size: 1.1rem;
}
body.about .main .section3 {
  padding: 2rem 0;
}
body.about .main .section3 .images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
}
body.about .main .section3 .images_container .image_container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 3s ease-in-out;
}
body.about .main .section3 .images_container .image_container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  body.about .movingObjectcontainer {
    display: block;
  }
}

body.skills {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  background-color: #252525;
  color: #cacaca;
  width: 100vw;
  overflow-x: hidden;
}
body.skills .header {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
}
body.skills .header .logo_container .logo {
  width: 80px;
}
body.skills .header .right .menu {
  display: none;
}
body.skills .header .right .menu .btn {
  margin-left: 2rem;
}
body.skills .header .right .hamburger__container .hamburger {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
body.skills .header .right .hamburger__container .hamburger:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
@media (min-width: 768px) {
  body.skills .header {
    padding: 1rem 4rem !important;
  }
  body.skills .header .right .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  body.skills .header .right .menu li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  body.skills .header .right .hamburger {
    display: none;
  }
}
body.skills .sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  background-color: #252525;
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
body.skills .sidebar .top {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body.skills .sidebar .top .bi {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  padding-right: 1rem;
}
body.skills .sidebar .top .bi:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
body.skills .sidebar .bottom {
  justify-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.skills .sidebar .bottom .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}
body.skills .sidebar .bottom .menu li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
body.skills .sidebar .bottom .menu li a:hover {
  padding-left: 0.3rem;
}
body.skills .footer {
  text-align: center;
  font-size: 1.2rem;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.skills .movingObjectcontainer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
body.skills .movingObjectcontainer .movingObject {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: rgb(108, 136, 208);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 0 5px 5px rgb(108, 136, 208);
}
body.skills .movingObjectcontainer .movingObject img {
  width: 100%;
  height: 100%;
}
body.skills .main {
  padding: 2rem 0;
}
body.skills .main .section1 .title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
body.skills .main .section1 .skill_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  list-style: none;
}
body.skills .main .section1 .skill_list .item {
  background: linear-gradient(45deg, rgb(108, 136, 208), #191919);
  box-shadow: 0 0 5px 5px rgb(108, 136, 208);
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}
body.skills .main .section1 .skill_list .item .top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
}
body.skills .main .section1 .skill_list .item .top img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
body.skills .main .section1 .skill_list .item .desc {
  text-align: center;
}
body.skills .main .section1 .skill_list .item .desc .name {
  font-size: 1.2rem;
  background: linear-gradient(45deg, rgb(108, 136, 208), #191919);
}
@media (min-width: 768px) {
  body.skills .movingObjectcontainer {
    display: block;
  }
}

body.what_i_do {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  background-color: #252525;
  color: #cacaca;
  width: 100vw;
  overflow-x: hidden;
}
body.what_i_do .header {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
}
body.what_i_do .header .logo_container .logo {
  width: 80px;
}
body.what_i_do .header .right .menu {
  display: none;
}
body.what_i_do .header .right .menu .btn {
  margin-left: 2rem;
}
body.what_i_do .header .right .hamburger__container .hamburger {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
body.what_i_do .header .right .hamburger__container .hamburger:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
@media (min-width: 768px) {
  body.what_i_do .header {
    padding: 1rem 4rem !important;
  }
  body.what_i_do .header .right .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  body.what_i_do .header .right .menu li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  body.what_i_do .header .right .hamburger {
    display: none;
  }
}
body.what_i_do .sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  background-color: #252525;
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
body.what_i_do .sidebar .top {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body.what_i_do .sidebar .top .bi {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  padding-right: 1rem;
}
body.what_i_do .sidebar .top .bi:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
body.what_i_do .sidebar .bottom {
  justify-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.what_i_do .sidebar .bottom .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}
body.what_i_do .sidebar .bottom .menu li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
body.what_i_do .sidebar .bottom .menu li a:hover {
  padding-left: 0.3rem;
}
body.what_i_do .footer {
  text-align: center;
  font-size: 1.2rem;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.what_i_do .movingObjectcontainer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
body.what_i_do .movingObjectcontainer .movingObject {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: rgb(108, 136, 208);
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 0 5px 5px rgb(108, 136, 208);
}
body.what_i_do .movingObjectcontainer .movingObject img {
  width: 100%;
  height: 100%;
}
body.what_i_do .section {
  min-height: 200px;
  padding: 3rem 0;
}
body.what_i_do .section1 .title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
body.what_i_do .section1 .items {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 1rem;
}
body.what_i_do .section1 .items .item {
  flex: 1;
  max-width: 350px;
  background-color: #191919;
  padding: 1rem;
  min-height: 400px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(116, 113, 113, 0.2);
  transition: all 0.5s ease-in-out;
}
body.what_i_do .section1 .items .item:hover {
  transform: perspective(1000px) rotateY(30deg);
  filter: drop-shadow(16px 16px 20px rgb(108, 136, 208)) invert(10%);
}
body.what_i_do .section1 .items .item i {
  font-size: 2rem;
}
body.what_i_do .section1 .items .item h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: rgb(108, 136, 208);
}
body.what_i_do .section1 .btn_container {
  text-align: center;
}
@media (min-width: 768px) {
  body.what_i_do .section1 .items {
    flex-direction: row;
  }
}
body.what_i_do .section2 {
  padding: 3rem 0;
  background-color: #191919;
}
body.what_i_do .section2 .images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
}
body.what_i_do .section2 .images_container .image_container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 3s ease-in-out;
}
body.what_i_do .section2 .images_container .image_container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  body.what_i_do .movingObjectcontainer {
    display: block;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}/*# sourceMappingURL=styles.css.map */